[
	{
		"type": "db.kind",
		"object": "org.webosarchive.webcal.account.config:1",
		"caller": "org.webosarchive.webcal.app",
		"operations": {
			"read": "allow",
			"create": "allow",
			"delete": "allow",
			"update": "allow"
		}
	},
	{
		"type": "db.kind",
		"object": "org.webosarchive.webcal.account.config:1",
		"caller": "org.webosarchive.webcal.service",
		"operations": {
			"read": "allow",
			"create": "allow",
			"delete": "allow",
			"update": "allow"
		}
	},
	{
		"type": "db.kind",
		"object": "org.webosarchive.webcal.account.config:1",
		"caller": "com.palm.*",
		"operations": {
			"read": "allow",
			"create": "allow",
			"delete": "allow",
			"update": "allow"
		}
	}
]
